<footer>
    <div class="f-info" style="padding-top: 1rem;">
       <div class="f-info-socials">
       <a href="/facebook"><i class="fa-brands fa-square-facebook" ></i></a>
        <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="/linkedin"><i class="fa-brands fa-linkedin"></i></a>
       </div>
       <div class="f-info-brands"> &copy;Wanderlust Private Limited</div>
       <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
 </footer>