<% layout("layouts/boilerplate.ejs") %>

  <body>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <br>
        <br>
        <h3>Create A New Listings</h3>

        <form method="POST" action="/listings" 
        class="needs-validation" novalidate 
        enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a Catchy title" type="text" class="form-control" id="title"
              required>
             <div class="valid-feedback">
                 <b>Title looks good</b> 
             </div> 
          </div>

          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" id="desc" required></textarea>
            <div class="invalid-feedback">
              <b>Please enter Your Description</b> 
          </div> 
          </div>

         
          <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file"  class="form-control"
              id="image" >
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" type="number" placeholder="1200" class="form-control" id="price" required
              >
              <div class="invalid-feedback">
                <b>Please Select Valid price</b> 
            </div>
            </div>
            <div class="row">
            <div class="mb-3 col-md-4">
              <label for="specific" class="form-label" required>Specification </label>
              <select name="listing[specific]" id="specific" class="form-control" required>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Amazing Pool">Amazing Pool</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Domes">Domes</option>
              </select>
          
              <div class="invalid-feedback">
                <b>Please Specify the location</b> 
            </div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" type="text" class="form-control" placeholder="India" id="country" required>
              <div class="invalid-feedback">
                <b>Please enter Country name</b> 
            </div> 
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Bengaluru" type="text" id="location" class="form-control" required>
            <div class="invalid-feedback">
              <b>Please enter Location</b> 
          </div>
          </div>
          <button class="btn btn-dark add-btn">Add</button>
          <br>
          <br>
        </form>
      </div>
    </div>

  </body>